* {
    scroll-behavior: smooth;
}

.subHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    background-color: #2d0c5e;
}

.subHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

.subHeaderContent p {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin: 10px;
}

.subHeaderContent span {
    text-align: center;
    color: #fff;
    font-size: 48px;
    max-width: 780px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.films {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.films-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
}

.card {
    margin: 3px;
    overflow: hidden;
    width: 162px;
}

.card img {
    display: block;
    max-width: 100%;
}

.card h3 {
    font-size: 1rem;
    font-family: 'Roboto';
}

.card>p {
    font-size: 0.8rem;
    font-family: 'Roboto';
}

.pagination {
    display: flex;
    align-items: center;

    color: #fff;
    font-size: 1.2rem;

}

.pagination button {
    border: 0;
    background: transparent;
    color: #2d0c5e;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: .5rem 1rem;
}

.pagination button:hover {
    color: #fff;
    background-color: #2d0c5e;
    filter: brightness(1.75);

}

.pagination button.selectedPage {
    color: #fff;
    background-color: #2d0c5e;
}

.pagination button.selectedPage:hover {
    filter: brightness(1.75);
}