*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  top: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.8rem;
  background: #eee;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  background: white;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.1s;
  padding: 0.8rem 1.6rem;
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}
