.button {
    color: #323232;
    background-color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    margin: 8px;
    padding: 10px;
}

.button.active {
    background-color: #d18000;
    display: flex;
    align-items: center;
}

.button.active::after {
    content: '\0058';
    font-size: 1rem;
    margin-left: 4px;
    animation: animateRotate 0.3s;
}

@keyframes animateRotate {
    from {
        opacity: 0;
        transform: translateX(5px) rotate(180deg);
    }

    to {
        opacity: initial;
        transform: initial;
    }
}