.carousel {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  max-width: 1024px;  
}

.carousel h3 {
  display:block;
}

.carousel .card-cast {
  background-color: #fff;
  padding: 0.5rem; 
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel::-webkit-scrollbar {
  width: 5px;
}::-webkit-scrollbar {
  width: 5px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  border-radius: 20px;
  border-left: 2px solid #ADADAD;
  border-right: 2px solid #ADADAD;
}
 
.carousel::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #DDDDDD;
}
card-cast-img {
  min-width: 175px;
  min-height: 320px;
}

.carousel .card-cast img {
  width: 175px;
  display: block;
} 


